@import "tailwindcss";

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-5xl font-bold mb-4;
}

h2 {
  @apply text-3xl font-bold mb-4;
}

h3 {
  @apply text-2xl font-bold mb-4;
}

/* Playfair Display font classes */
.font-playfair {
  font-family: var(--font-playfair), serif;
}

.font-playfair-light {
  font-family: var(--font-playfair), serif;
  font-weight: 300;
}

.font-playfair-regular {
  font-family: var(--font-playfair), serif;
  font-weight: 400;
}

.font-playfair-medium {
  font-family: var(--font-playfair), serif;
  font-weight: 500;
}

.font-playfair-semibold {
  font-family: var(--font-playfair), serif;
  font-weight: 600;
}

.font-playfair-bold {
  font-family: var(--font-playfair), serif;
  font-weight: 700;
}
